@model OkulİnternetSitesi.Models.DersProgramıExcel

@{
    ViewBag.Title = "Ekle";
}

<style>
    .form-horizontal {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn {
        padding: 8px 15px;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        transition: background-color 0.2s ease-in-out;
    }

    .btn-default {
        background-color: #f2f2f2;
        color: #000;
    }

        .btn-default:hover {
            background-color: #e6e6e6;
        }
</style>

<h2>Ekle</h2>

@using (Html.BeginForm("Create", "DersProgramıExcel", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Sınıf Adı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SınıfAdı, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SınıfAdı, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Excel Dosyası", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="DersProgramıFile" id="DersProgramıFile" class="form-control-file" />
            @Html.ValidationMessageFor(model => model.DersProgramı, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ekle" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>
